@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DataStorage</h1>
    <p class="lead">This is a project made for data storage and simple calculations based on data, it has 4 costomized models for better organization and simpler object insertion.</p>
    
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>LinkedIn Acc</h2>
        <p>
            Visit my linkedIn Account.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/nikola-mishevski-660152bb/">LinkedIn &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>CodePen Account</h2>
        <p>Visit my CodePen account.</p>
        <p><a class="btn btn-default" href="https://codepen.io/Nick11212">CodePen &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>GitHub</h2>
        <p>Visit my GitHub account.</p>
        <p><a class="btn btn-default" href="https://github.com/Nikola1423">GitHub &raquo;</a></p>
    </div>
</div>